<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/home">
        Home
        </ion-item>
        <ion-item menu-close href="#/app/products">
        View all Products
        </ion-item>
        <ion-item menu-close href="#/app/products/create">
        My Product Create
        </ion-item>
        <ion-item menu-close href="#/app/product/edit">
        My Products Edit
        </ion-item>
        <ion-item menu-close href="#/app/product/stats">
        Product-Stats
        </ion-item>
        <ion-item menu-close href="#/app/consumer/stats">
        Consumer-Stats
        </ion-item>
        <ion-item menu-close href="#/app/checkout">
        Checkout
        </ion-item>
        <ion-item menu-close href="#/app/messages">
        Messages
        </ion-item>
        <ion-item menu-close href="#/app/manage">
        Manage
        </ion-item>
        <ion-item menu-close href="#/app/supermanage">
        Super Manage
        </ion-item>
        <ion-item menu-close href="#/app/settings">
        settings
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
