
<ion-view view-title="Supermanage home ">
  <ion-content>
    

    <div class="button-bar">
  <a class="button button-positive button-outline" ng-click = add_employee()>Add</a>
  <a class="button button-positive button-outline">Remove</a>
</div>
    <div class="list">
<div ng-repeat="n in employees track by $index">
    <div class="item item-button-right">
    {{n.name}}

    <button class="button button-positive" ng-click = remove_employee(n.id)>
          <div ng-if = "n.position == 1">
    	<i class="icon ion-ios-telephone"></i>
    </div>
    <div ng-if = "n.position == 2">
    	<i class="icon ion-man"></i>
    </div>
    <div ng-if = "n.position == 3">
    	<i class="icon ion-woman"></i>
    </div>
    <div ng-if = "n.position == 4">
    	<i class="icon ion-person"></i>
    </div>
    </button>
  </div>
</div>


 

</div>
  </ion-content>
</ion-view>